
<!doctype html>
<!-- AIzaSyCVgrYr6JL-iw2ndlVS82Hpo1OhKJ60PdA -->
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/x-icon" href="/static/Running-Club-Tiger.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap core CSS -->
	<link rel="stylesheet" type = "text/css" href="/static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script type ="text/javascript" src = "/static/script.js"></script>
  <!--JQuery-->
	<link href="https://fonts.googleapis.com/css?family=Russo+One|Faster+One|Montserrat" rel="stylesheet">
  <meta property="og:image" content="/static/Running-Club-Tiger.png"/>
  <meta property="og:image:secure_url" content="/static/Running-Club-Tiger.png"/>
  <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
{% include 'script.html' %}

  {% include 'navbar.html' %}

  {% block content %}
  replace me
  {% endblock %}
<body class="stripe">
  </body>
</html>
