{% extends 'base.html' %}
{% block content %}
  <title>Clemson Running Club</title>
    <!-- Parallax Back 1 -->
  <div class="bgimg-1">
    <span class="timescaption">
      <h1 class ="border">Practice Times</h1>
      <p class="border"> M-F 5:30PM @Cox Plaza</p>
    </span>
    <div class="captionlogo">
      <span class="left">CU</span>
      <img src="static/logo.png"></>
      <span class="right">RC</span>
    </div>
  </div>

  <div style="position:relative;">
    <div class="longfrontimage">
      <a href="../../info/about"><span>Welcome Tigers</span></a>
      <p>We are farmers da da da da Romeo take me somewhere we can be alone</p>
      <div class="longfrontimage2"></div>
    </div>

    <div class="longfrontimage">
      <a href="../../racing"><span>Competition</span></a>
      <p>We are farmers da da da da</p>
      <div class="longfrontimage1"></div>
    </div>
  </div>

  <!-- Who We Are -->
  <div class="front-text">
    <h3 class="who">Who We Are</h3>
    <p>Do you schedule everything in your life around running? Did you enjoy running with people in high school and want to continue that feeling into college? Did you just start running for the first time and want to get better running with others? Do you hate running and just want a cool, fun group to hang out with? If you answered yes to any of these questions, the Clemson Running Club is for you! The Clemson Running Club is the official running club of Clemson University. We are a student organization under the Clemson Club Sports umbrella and are open to any full time Clemson student, including graduate and Bridge students.</p>
  </div>

<!-- Parallax Back 2 -->
<div class="bgimg-2">
  <div class="caption3">
    <span class="border">
        It's not about how fast or how far, it's about how fun!
    </span>
  </div>
</div>

<div class="botsocials">
    <div class="socialbox">
      <h1>SOCIALS</h1>
    </div>
    <div class="strava">
      <iframe allowtransparency='yes' frameborder='0' height='100' scrolling='no' src='https://www.strava.com/clubs/219702/latest-rides/7b78f6444488ecb3febaea0c7c05c29d118b0a76?show_rides=false' width = '400' ></iframe>
      <iframe allowtransparency='yes' frameborder='0' height='454' scrolling='no' src='https://www.strava.com/clubs/219702/latest-rides/7b78f6444488ecb3febaea0c7c05c29d118b0a76?show_rides=true' width = '400' ></iframe>
    </div>
    <div class="twittertime">
      <a class="twitter-timeline" data-width="400" data-height="554" data-theme="light" href="https://twitter.com/ClemsonRun?ref_src=twsrc%5Etfw">Tweets by ClemsonRun</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>

{% endblock %}
