<!-- Top Bar -->
<div class="topnav" id="myTopnav">
  <a href="{% url 'home' %}">Clemson Running Club</a>
  <div class="dropdown">
    <button class="dropbtn">Info
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'about' %}">About</a>
      <a href="{% url 'officer' %}">Officers</a>
      <a href="{% url 'calendar' %}">Calendar</a>
      <a href="{% url 'routes' %}">Routes</a>
    </div>
  </div>

{% if user.is_authenticated %}
  <div class="dropdown">
    <button class="dropbtn" type="button">
          Running Bucks
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content" aria-labelledby="dropdownMenuButton">
      <a href="{% url 'bucks:home' %}">Bucks Home</a>
      <a href="{% url 'bucks:create' %}">Create Post</a>
      <a href="{% url 'bucks:store' %}">Store</a>
      <a href="{% url 'bucks:logout' %}">Logout</a>
    </div>
  </div>

{% else %}
  <a href="{% url 'bucks:home' %}">Running Bucks</a>
{% endif %}

  <a href="{% url 'racing' %}">Racing</a>
  <a href="{% url 'community' %}">Community</a>
  <a href="{% url 'membership' %}">Membership</a>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>
