{% extends 'base.html' %}
{% block content %}
<title> Racing </title>
  <!-- Racing -->
    <div class="race-container">
      <div class="race-list">
        <ul class="list-group">
          <li class="list-group-item active orange">
            <h2>Fall 2020</h>
          </li>
          <li class="list-group-item">
            <h4>Clemson - Men's 8k/Women's 6k</h4>
            <p>September 14th Clemson, SC</p>
          </li>
          <li class="list-group-item">
            <h4>UNC Charlotte - Men's/Women's 5k</h4>
            <p>September 28th Charlotte, NC</p>
          </li>
          <li class="list-group-item">
            <h4>Get Out! Greenville 10k</h4>
            <p>October 5th Greenville, SC</p>
          </li>
          <li class="list-group-item">
            <h4>NIRCA SE Regionals - Men's 8k/Women's 6k</h4>
            <p>October 27th Wingate, NC</p>
          </li>
          <li class="list-group-item">
            <h4>NIRCA Nationals - Men's 8k/Women's 6k</h4>
            <p>November 16th Richmond, VA</p>
          </li>
	        <li class="list-group-item">
            <h4>Paris Mountain - 20K/10K/5K</h4>
            <p>Date TBD Greenville, SC</p>
          </li>
          <li class="list-group-item">
            <h4>Taco Bell Ultra</h4>
            <p>Run to each taco bell in your county</p>
            <p> and have a meal at each one</p>
          </li>
          <li class="list-group-item item-hidden">
            <h4> - </h4>
            <p> - </p>
          </li>
        </ul>
      </div>

      <div class="race-list">
        <ul class="list-group">
          <li class="list-group-item active purple"><h2>Spring 2021</h2></li>
          <li class="list-group-item item-hidden">
            <h4> - </h4>
            <p> - </p>
          </li>
          <li class="list-group-item item-hidden">
            <h4> - </h4>
            <p> - </p>
          </li>
          <li class="list-group-item item-hidden">
            <h4> - </h4>
            <p> - </p>
          </li>
          <li class="list-group-item item-hidden">
            <h4> - </h4>
            <p> - </p>
          </li>
          <li class="list-group-item item-hidden">
            <h4> - </h4>
            <p> - </p>
          </li>
          <li class="list-group-item item-hidden">
            <h4> - </h4>
            <p> - </p>
          </li>
          <li class="list-group-item item-hidden">
            <h4> - </h4>
            <p> - </p>
          </li>
        </ul>
      </div>
    </div>
{% endblock %}
