{% extends 'base.html' %}
{% block content %}
<title> Service </title>
    <!-- Service Content -->
    <div class="service-container">
        <div class="service-text">
          <h3>Elementary School Service Projects</h3>
          <p>The running club has partnered with two local elementary schools to introduce running to a group of kids in a fun and organized manner.
          One day each week, a group of our members meet with the kids after school and work with them on basic running fundamentals such as stretching and training, as well as play games and events.
          At the end of each semester, the kids race in a local race to show off their new running skills.</p>
        </div>
        <img class="service-img" src="../static/service.jpg"/>
        <img class="svclogo" src="../static/tvlogo.png" />
        <img class="svclogo" src="../static/mlogo.png" />
    </div>

{% endblock %}
