{% extends 'base.html' %}
{% block content %}
<title> Sponsors </title>
    <!-- Sponsor Heading -->
    <div class="sponsor-banner">
        <h1>SPONSORS</h1>
          <h3>Help support those who support us!</h3>
    </div>

    <!-- Box of Sponsors -->
    <div class="sponsor-content">
        <div class="sponsor">
          <div>
            <a href="https://www.etsy.com/shop/ncdoodles"><img class="sponsor-img" src="../static/ncdoodles.png"></a>
            <p class="sponsor-name">NC Doodles</p>
          </div>
        </div>
        <div class="sponsor">
          <div>
            <a href="#"><img class="sponsor-img" src="../static/supertaco.jpg"></a>
            <p class="sponsor-name">Super Taco</p>
          </div>
        </div>
    </div>
  </body>
{% endblock %}
