{% extends 'base.html' %}
{% block content %}
<title> About </title>
<body class="lightgrey-back">
<!--About image header-->
<div class="long-about-image">
  <h1>ABOUT US</h1>
</div>


<!-- FAQ dropdown section-->
<div class="faq">
    <h1>Frequently Asked Questions</h1>
    <div class="accordion" id="FAQ">

      <div class="card">
        <div id="question1">
            <button class="btn btn-block btn-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#answer1" aria-expanded="false" aria-controls="answer1">
              <span class="question"><h2> What do y'all do?</h2></span>
              <div class="dropper"><h2>+</h2></div>
          </button>
        </div>

        <div id="answer1" class="collapse" aria-labelledby="question1" data-parent="#question1">
          <div class="card-body">
            Exactly what our namesake says…we run! The Running Club is a super laid-back group of Clemson students all with the same common interest, running.
          </div>
        </div>
      </div>

      <div class="card">
        <div id="question2">
            <button class="btn btn-block btn-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#answer2" aria-expanded="false" aria-controls="answer2">
              <div class="question"><h2> I ran Cross Country and/or Track in high school and want to keep on running in college. Is the club right for me?</h2></div>
                <div class="dropper"><h2>+</h2></div>
            </button>
        </div>

        <div id="answer2" class="collapse" aria-labelledby="question2" data-parent="#question2">
          <div class="card-body">
            You bet it is! Many of our current members were in your exact same shoes coming to Clemson, and have found the Running Club to be a perfect way to continue on the fun of running with a team.
          </div>
        </div>
      </div>

    <div class="card">
      <div id="question3">
          <button class="btn btn-block btn-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#answer3" aria-expanded="false" aria-controls="answer3">
            <div class="question"><h2>I never ran Cross Country or Track, but have always enjoyed running or am just getting into it. Is the club right for me?</h2></div>
              <div class="dropper"><h2>+</h2></div>
          </button>
      </div>

      <div id="answer3" class="collapse" aria-labelledby="question3" data-parent="#question3">
        <div class="card-body">
          Prior team, racing, or even running experience is not required to join the club, we’d love to introduce you to a team atmosphere where you are able to run with other people.
        </div>
      </div>
    </div>

  <div class="card">
    <div id="question4">
        <button class="btn btn-block btn-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#answer4" aria-expanded="false" aria-controls="answer4">
         <div class="question"><h2>I’m in the Bridge to Clemson Program. Can I still be part of the club?</h2></div>
           <div class="dropper"><h2>+</h2></div>
        </button>
    </div>

    <div id="answer4" class="collapse" aria-labelledby="question4" data-parent="#question4">
      <div class="card-body">
        You sure can! All Clemson students, including Bridge students, are eligible to participate in the club. The only thing Bridge students cannot do is race in NIRCA races due to NIRCA policies.
      </div>
    </div>
  </div>

  <div class="card">
    <div id="question5">
        <button class="btn btn-block btn-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#answer5" aria-expanded="false" aria-controls="answer5">
         <div class="question"><h2>I see that y'all go to several races. Do I have to race to be a part of the club?</h2></div>
           <div class="dropper"><h2>+</h2></div>
        </button>
    </div>

    <div id="answer5" class="collapse" aria-labelledby="question5" data-parent="#question5">
      <div class="card-body">
        Absolutely not! Our club is founded on the principle that we are open to runners of all ability levels and interests. If you just want to run for fun, the club is still the place for you. While we do have a racing team, everyone still runs together at practice, plays Frisbee together on Fridays, and hangs out together at the team dinners and events. Practices are super laidback and usually have a few different groups doing a different type of run on any given day.
      </div>
    </div>
  </div>

  <div class="card">
    <div id="question6">
        <button class="btn btn-block btn-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#answer6" aria-expanded="false" aria-controls="answer6">
         <div class="question"><h2>I'm thinking about racing, but I'm nowhere near in the same shape as I was in high school. Are the races too competitive for me?</h2></div>
           <div class="dropper"><h2>+</h2></div>
        </button>
    </div>

    <div id="answer6" class="collapse" aria-labelledby="question6" data-parent="#question6">
      <div class="card-body">
        Our club competes in the National Intercollegiate Running Club Association (<a href="https://clubrunning.org/" target="_blank">NIRCA</a>), where we race against schools from all over the country. Much like our club, NIRCA is super chill and is open to runners of all abilities. If you want to compete and go really fast (like national champion fast), you can. If you want to race other people and just have fun, you can. If you want to try and break your high school PR, you can. If you want to try racing for the first time and not get last, you can. Racing club is totally what you make of it.
      </div>
    </div>
  </div>

  <div class="card">
    <div id="question7">
        <button class="btn btn-block btn-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#answer7" aria-expanded="false" aria-controls="answer7">
          <div class="question"><h2>What else does the club do other than run?</h2></div>
            <div class="dropper"><h2>+</h2></div>
        </button>
    </div>

    <div id="answer7" class="collapse" aria-labelledby="question7" data-parent="#question7">
      <div class="card-body">
        Lots of stuff! Last year, our club started the Pendleton Elementary Running Club. Each week, we work with a group of elementary kids to introduce them to the sport of running. We play Frisbee on Friday (a club tradition passed down many generations), hang out at Y-Beach, play intramurals in Fike (if you are really really good at a certain sport that isn’t running, you’d be a huge addition to any of our intramural teams), go on hikes and trips around the Upstate, host monthly team dinners, and a whole lot more! Oh, and there’s also team swag…more to come on that in the future.
      </div>
    </div>
  </div>

  <div class="card">
    <div  id="question8">
        <button class="btn btn-block btn-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#answer8" aria-expanded="false" aria-controls="answer8">
        <div class="question"><h2>When do y'all meet?</h2></div>
          <div class="dropper"><h2>+</h2></div>
        </button>
    </div>

    <div id="answer8" class="collapse" aria-labelledby="question8" data-parent="#question8">
      <div class="card-body">
        We meet Monday-Thursday <a href="../../info/about/#cox">@Cox Plaza</a> at 5:30PM, right between the Union and Tillman Hall. There’s a statue of the honorable Walter T. sitting on a bench, holding our spots until we arrive. On Fridays we meet Clemson Trail Running Club for a trail run. Times are TBD.
      </div>
    </div>
  </div>

    <div class="card">
      <div id="question9">
          <button class="btn btn-block btn-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#answer9" aria-expanded="false" aria-controls="answer9">
            <div class="question"><h2>Every week day? I don't think I can fit that in my schedule...</h2></div>
              <div class="dropper"><h2>+</h2></div>
          </button>
      </div>

      <div id="answer9" class="collapse" aria-labelledby="question9" data-parent="#question9">
        <div class="card-body">
          You don’t have to! You can show up as much or as little as your schedule allows, there’s no requirement on how many practices you have to go to. You can solely come to practices, or races, or social events, or the service projects, or any or all of it. It really is what you make of it!
        </div>
      </div>
    </div>

    <div class="card">
      <div id="question10">
          <button class="btn btn-block btn-primary text-left collapsed" type="button" data-toggle="collapse" data-target="#answer10" aria-expanded="false" aria-controls="answer10">
            <div class="question"><h2>The club definitely sounds like something I'd be interested in! How do I sign up?</h2></div>
              <div class="dropper"><h2>+</h2></div>
          </button>
      </div>

      <div id="answer10" class="collapse" aria-labelledby="question10" data-parent="#question10">
        <div class="card-body">
            All you have to do is show up to one of our practices. Eventually you will need to fill out some <a href="../../membership">official forms and pay club dues</a>, but feel free to come see what we’re all about first. If you have any other questions, shoot us an email at <a href="mailto:run@g.clemson.edu">run@g.clemson.edu.</a>
        </div>
      </div>
    </div>

  </div>
  </div>


  <a id="cox">
    <div class="join">
        <h1>Join Us!</h1>
        <p>Monday through Thursday at Cox Plaza<br>5:30 P.M. (or 5:00 P.M. after Daylight Savings)</p>
        <img id="cox" src="../../static/cox.png"/>
        <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.0263757454604!2d-82.8399756846051!3d34.679283780439995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88585e6bfb45148f%3A0x45671b5ea4f47d4f!2sCox+Plaza!5e0!3m2!1sen!2sus!4v1502678976506" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </a>


    <!-- Contact section -->
    <div class="contact-container">
        <h1>Contact Information</h1>
        <div class="mail-add">
          <p style="font-weight: bold;">Mailing Address:</p>
          <p>206 Fike Recreation Center</p>
          <p>Clemson, SC 29634-0001</p>
          <p>United States</p>
          <p style="font-weight: bold;">Email: <a href="http://run@g.clemson.edu">run@g.clemson.edu</a></p>
        </div>
          <div class="button-container">
            <button class="fb-btn" onclick="window.location.href='http://www.facebook.com/clemsonuniversityrunningclub/';"><i class="fa fa-facebook"></i>Facebook</button>
            <button class="tw-btn" onclick="window.location.href='http://twitter.com/clemsonrun?lang=en';"><i class="fa fa-twitter"></i>Twitter</button>
            <button class="ig-btn" onclick="window.location.href='http://instagram.com/clemsonrunningclub/?hl=en';"><i class="fa fa-instagram"></i>Instagram</button>
            <button class="rt-btn" onclick="window.location.href='http://clemsonrunningclub.us16.list-manage2.com/subscribe?u=2d388dbb30a69cbb8aa01c82b&id=b4570a39e6'"><i class="fa fa-envelope"></i>Running Tig</button>
          </div>
    </div>

{% endblock %}
