{% extends 'base.html' %}
{% block content %}
<title> Current Members </title>
    <div class="officer-container">
      <div style="margin: 5px;">
        <div class="officer">
            <img src="../../static/greene.jpg"/>
            President
            <p>Daniel Finger</p>
            <p>Sophomore</p>
            <p>Teletubbies</p>
        </div>
      </div>
      <div style="margin: 5px;">
        <div class="officer">
            <img src="../../static/sambo.jpg"/>
            Men's Captain
            <p>Michael Migliaccio</p>
            <p>Junior</p>
            <p>Cheese</p>
        </div>
      </div>
      <div style="margin: 5px;">
        <div class="officer">
            <img src="../../static/taylor.JPG"/>
            Women's Captain
            <p>Madison Mullins</p>
            <p>Sophomore</p>
            <p>Biochemistry</p>
        </div>
      </div>
      <div style="margin: 5px;">
        <div class="officer">
            <img src="../../static/nath.jpg"/>
            Secretary
            <p>Ryan McCourt</p>
            <p>Senior</p>
            <p>Math</p>
        </div>
      </div>
      <div style="margin: 5px;">
        <div class="officer">
            <img src="../../static/fid.jpeg"/>
            Treasurer
            <p>Paul Gennett</p>
            <p>Senior</p>
            <p>Computer Science</p>
        </div>
      </div>
      <div style="margin: 5px;">
        <div class="officer">
            <img src="../../static/curran2.JPG"/>
            Social Chair
            <p>Kiely Curran</p>
            <p>Junior</p>
            <p>Biology</p>
        </div>
      </div>
      <div style="margin: 5px;">
        <div class="officer">
            <img src="../../static/rob.jpg"/>
            Social Chair
            <p>Emma Simon</p>
            <p>Sophomore</p>
            <p>Mechanical Engineering</p>
        </div>
      </div>
      <div style="margin: 5px;">
        <div class="officer">
            <img src="../../static/jack.PNG"/>
            Social Chair
            <p>Taylor Sorenson</p>
            <p>Senior</p>
            <p>Biochemistry</p>
        </div>
      </div>
    </div>
{% endblock %}
