{% extends 'base.html' %}
{% block content %}
<title> Officers </title>
<body class="stripe">
    <div class="officer-container">
      <div style="margin: 0px;">
        <div class="officer">
            <img src="../../static/danielbacon.jpg"/>
            <h1>President</h1>
            <p>Daniel Finger</p>
            <p>Sophomore</p>
            <p><small>dzfinge@clemson.edu</small></p>
        </div>
      </div>
      <div style="margin: 0px;">
        <div class="officer">
            <img src="../../static/mike.jpg"/>
            <h1>Men's Captain</h1>
            <p>Michael Migliaccio</p>
            <p>Junior</p>
            <p><small>mmiglia@clemson.edu</small></p>
        </div>
      </div>
      <div style="margin: 0px;">
        <div class="officer">
            <img src="../../static/taylor.JPG"/>
            <h1>Women's Captain</h1>
            <p>Madison Mullins</p>
            <p>Sophomore</p>
            <p><small>mmulli4@clemson.edu</small></p>
        </div>
      </div>
      <div style="margin: 0px;">
        <div class="officer">
            <img src="../../static/nath.jpg"/>
            <h1>Secretary</h1>
            <p>Ryan McCourt</p>
            <p>Senior</p>
            <p><small>rmmccou@clemson.edu</small></p>
        </div>
      </div>
      <div style="margin: 0px;">
        <div class="officer">
            <img src="../../static/paul.jpg"/>
            <h1>Treasurer</h1>
            <p>Paul Gennett</p>
            <p>Senior</p>
            <p><small>sgennet@clemson.edu</small></p>
        </div>
      </div>
      <div style="margin: 0px;">
        <div class="officer">
            <img src="../../static/kiely.jpeg"/>
            <h1>Social Chair</h1>
            <p>Kiely Curran</p>
            <p>Junior</p>
            <p><small>kielyc@clemson.edu</small></p>
        </div>
      </div>
      <div style="margin: 0px;">
        <div class="officer">
            <img src="../../static/emma.jpeg"/>
            <h1>Social Chair</h1>
            <p>Emma Simon</p>
            <p>Sophomore</p>
            <p><small>esimon3@clemson.edu</small></p>
        </div>
      </div>
      <div style="margin: 0px;">
        <div class="officer">
            <img src="../../static/taylor.JPG"/>
            <h1>Social Chair</h1>
            <p>Taylor Sorenson</p>
            <p>Senior</p>
            <p><small>tesoren@clemson.edu</small></p>
        </div>
      </div>
    </div>
{% endblock %}
