{% extends 'base.html' %}
{% block content %}
<title> Officers </title>
    <div class="officer-container">
      <div style="margin: 5px;">
        <div class="officer">
            <img src="../../static/greene.jpg"/>
            President
            <p>Daniel Finger</p>
            <p>Sophomore</p>
            <p><small>dzfinge@clemson.edu</small></p>
        </div>
      </div>
      <div style="margin: 5px;">
        <div class="officer">
            <img src="../../static/sambo.jpg"/>
            Men's Captain
            <p>Michael Migliaccio</p>
            <p>Junior</p>
            <p><small>mmiglia@clemson.edu</small></p>
        </div>
      </div>
      <div style="margin: 5px;">
        <div class="officer">
            <img src="../../static/taylor.JPG"/>
            Women's Captain
            <p>Madison Mullins</p>
            <p>Sophomore</p>
            <p><small>mmulli4@clemson.edu</small></p>
        </div>
      </div>
      <div style="margin: 5px;">
        <div class="officer">
            <img src="../../static/nath.jpg"/>
            Secretary
            <p>Ryan McCourt</p>
            <p>Senior</p>
            <p><small>rmmccou@clemson.edu</small></p>
        </div>
      </div>
      <div style="margin: 5px;">
        <div class="officer">
            <img src="../../static/fid.jpeg"/>
            Treasurer
            <p>Paul Gennett</p>
            <p>Senior</p>
            <p><small>sgennet@clemson.edu</small></p>
        </div>
      </div>
      <div style="margin: 5px;">
        <div class="officer">
            <img src="../../static/curran2.JPG"/>
            Social Chair
            <p>Kiely Curran</p>
            <p>Junior</p>
            <p><small>kielyc@clemson.edu</small></p>
        </div>
      </div>
      <div style="margin: 5px;">
        <div class="officer">
            <img src="../../static/rob.jpg"/>
            Social Chair
            <p>Emma Simon</p>
            <p>Sophomore</p>
            <p><small>esimon3@clemson.edu</small></p>
        </div>
      </div>
      <div style="margin: 5px;">
        <div class="officer">
            <img src="../../static/jack.PNG"/>
            Social Chair
            <p>Taylor Sorenson</p>
            <p>Senior</p>
            <p><small>tesoren@clemson.edu</small></p>
        </div>
      </div>
    </div>
{% endblock %}
