{%extends 'base.html'%}
{% block content %}
<title>Bucks Cart</title>
{% if error %}
  <h1>{{error}}</h1>
{% endif %}
<div class="container my-4">
  <h4> <a href="{% url 'store:store' %}"> Continue Shopping</a><h4>
    <h1>Total Cost: {{items.cartPrice}} Bucks </h1>
  {% if items.cartItem1 %}
  <a href="{% url 'store:cart_delete' 1 %}" class="btn btn-secondary mb-4 btn-block"> Remove {{items.cartItem1}} from cart</a>
  {% endif %}
  {% if items.cartItem2 %}
  <a href="{% url 'store:cart_delete' 2 %}" class="btn btn-secondary mb-4 btn-block"> Remove {{items.cartItem2}} from cart</a>
  {% endif %}
  {% if items.cartItem3 %}
  <a href="{% url 'store:cart_delete' 3 %}" class="btn btn-secondary mb-4 btn-block"> Remove {{items.cartItem3}} from cart</a>
  {% endif %}
  {% if items.cartItem4 %}
  <a href="{% url 'store:cart_delete' 4 %}" class="btn btn-secondary mb-4 btn-block"> Remove {{items.cartItem4}} from cart</a>
  {% endif %}
  {% if items.cartItem5 %}
  <a href="{% url 'store:cart_delete' 5 %}" class="btn btn-secondary mb-4 btn-block"> Remove {{items.cartItem5}} from cart</a>
  {% endif %}
  {% if items.cartPrice > 0 %}
    <h4> <a href="{% url 'store:checkout' %}"> Checkout </a><h4>
  {% else %}
    <h4> Your cart is currently empty <h4>
  {% endif %}
</div>
{% endblock %}
